*.DS_Store
/node_modules/
/static/vendor/*/bower.json
/static/vendor/*/.bower.json
/static/vendor/*/readme.md
/static/vendor/*/README.md
/static/vendor/*/LICENSE
/static/vendor/*/test-infra
/static/vendor/*/demo
/static/vendor/*/test
/static/vendor/*/examples
/static/vendor/*/.*
/static/vendor/modernizr/feature-detects
/static/vendor/modernizr/media
/static/vendor/jquery-backstretch/libs
/static/vendor/jquery/build
/static/vendor/jquery/speed
/static/vendor/jquery/src
/static/vendor/bootstrap/grunt
/static/vendor/iscroll/demos
/static/vendor/iscroll/src
/static/vendor/iscroll/build.js
