//
// Override variables and custom variables
// --------------------------------------------------
@paddingBig:                    120px;
@paddingSmall:                  60px;
@paddingTiny:                   20px;

// Include any variables from the variable.less file here to over rdies it.
@text-color:                    @gray;
@input-color-placeholder:       lighten(@text-color, 25%);
@headingsFontWeight:            400;

// Branding Colours
@white:                         #ffffff;

@goOrange:                      #f2682a;
@goBlue:                        #003c4b;
@goBlueLight:                   #b7d3db;
